@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clinica "La cura esta Aquí"</h1>
    <p>Programa tus citas con 2 dias de anticipación :v</p>
    <p>Recuerda tomar agua</p>
</div>


